body,
ul,
p {
  margin: 0;
  padding: 0;
}
body {
  color: #999;
  font-size: 18px;
  margin-bottom: 50px;
}
input,
div {
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #787878;
}
a:hover {
  color: #666666;
  text-decoration: underline;
}
.app-title {
  text-align: center;
  margin-top: 60px;
}
.app-list {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px #9e9ea9;
  -moz-box-shadow: 0 0 5px #9e9ea9;
  box-shadow: 0 0 5px #9e9ea9;
}
.app-list li {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.app-instruction,
.app-content {
  width: 65%;
  margin: 0 auto;
}
.app-content {
  text-align: center;
}
.app-instruction h1 {
  text-align: center;
}
.app-instruction h1 a {
  margin-left: 10px;
  font-size: 14px;
}
.app-instruction blockquote {
  border-left: 6px solid #b4b4b4;
  background: #f1f1f1;
}
.app-instruction blockquote p {
  padding: 10px;
  line-height: 30px;
}
.todo-form {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 20px;
  color: #999;
}
.todo-form input,
.todo-form input:focus {
  width: 380px;
  height: 35px;
  border: 1px solid #e4e4e4;
  font-size: 20px;
  color: #999;
  border-radius: 2px;
  text-indent: 5px;
}
.todo-list {
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.todo-list li {
  list-style: none;
  padding: 5px 20px;
  letter-spacing: 1px;
  font-size: 16px;
}
.todo-list li span.del {
  text-decoration: line-through;
}
.radio-circle {
  position: relative;
  padding: 0 8px;
  border: 1px solid #7bcaa2;
  border-radius: 100%;
  margin-right: 5px;
  cursor: pointer;
}
.radio-circle .radio-inner-circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 13px;
  border-radius: 100%;
  background: #fff7f7;
}
.radio-circle .radio-inner-circle.active {
  background: #7bcaa2;
}
.todo {
  width: 450px;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  -webkit-box-shadow: 2px 2px 5px #b1b1b1;
  -moz-box-shadow: 2px 2px 5px #b1b1b1;
  box-shadow: 2px 2px 5px #b1b1b1;
}
.todo .reset {
  line-height: 30px;
  padding: 5px;
}
.todo .reset .btn {
  padding: 8px 20px;
  border-radius: 2px;
  background: none;
  border: 1px solid #f1f1f1;
  cursor: pointer;
  outline: none;
}
.custom-editor {
  width: 50%;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #f1f1f1;
  text-align: left;
  padding: 3px;
}
.dragArea {
  width: 70%;
  height: 400px;
  margin: 0 auto;
  color: #000;
}
.dragArea ul[dnd-list] .dndPlaceholder {
  background-color: #ddd !important;
  display: block;
  min-height: 42px;
}
.dragArea ul[dnd-list] .dndDragging {
  background-color: red;
  color: #ffffff;
  cursor: none;
}
.dragArea ul[dnd-list] .dndDraggingSource {
  background: #f1f1f1;
  color: #000;
}
.dragArea li {
  position: relative;
  line-height: 30px;
  cursor: pointer;
  background: #f1f1f1;
  margin: 5px;
}
.dragArea li .menu {
  width: 50px;
  height: 30px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.dragArea li .menu li {
  margin: 0;
}
.dragArea li .menu.show {
  z-index: 999;
  height: 60px;
}
.dragArea .u1 {
  width: 50%;
  float: left;
  border: 1px solid #f1f1f1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dragArea .u2 {
  width: 50%;
  float: right;
}
.dragArea .u2 .row,
.dragArea .u2 .cell {
  min-height: 200px;
  background: #f3f3f3;
}
.dragArea .u2 .row {
  margin-bottom: 10px;
}
.gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}.gu-hide{display:none!important}.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.gu-transit{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20)}.dragulaArea {
  width: 70%;
  height: 400px;
  margin: 0 auto;
  color: #000;
}
.dragulaArea li {
  position: relative;
  line-height: 30px;
  cursor: pointer;
  background: #f1f1f1;
  margin: 5px;
}
.dragulaArea li .menu {
  width: 50px;
  height: 30px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.dragulaArea li .menu li {
  margin: 0;
}
.dragulaArea li .menu.show {
  z-index: 999;
  height: 60px;
}
.dragulaArea .u1 {
  width: 50%;
  float: left;
  border: 1px solid #f1f1f1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dragulaArea .u2 {
  width: 50%;
  float: right;
}
.dragulaArea .u2 .row,
.dragulaArea .u2 .cell {
  min-height: 200px;
  background: #f3f3f3;
}
.dragulaArea .u2 .row {
  margin-bottom: 10px;
}
